{% extends "listings/base.html" %} {% block content %}
<section>
  <article>
    <header>
      <h2 class="header text-center">Listing Details for {{ listing.year }} {{ listing.make }} {{ listing.model }}</h2>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-1"> {{ likes_count }} Likes</div>
        <div class="col-10">
          
          <div class="container">
            <div class="row">
              <div class="col-6">
                <form action="{% url 'save_listing' listing.id %}" method="post"  class="p-3">
                  {% csrf_token %}
                  <input type="hidden" name="listing_id" value="{{ listing.id }}">
                  <button type="submit" class="btn float-start" style="background-color: #ff5722">Save to Favorites</button>
                </form>
              </div>
              <div class="col-6">
                <form action="{% url 'like_listing' listing.id %}" method="post"  class="p-3">
                  {% csrf_token %}
                  <input type="hidden" name="listing_id" value="{{ listing.id }}">
                  <button type="submit" class="btn like float-end" style="background-color: #c022ff">Like</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">
                <!-- Card -->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">{{ listing.year }} {{ listing.make }} {{ listing.model }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">VIN:{{ listing.VIN }}</h6>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text"><small class="text-muted">Price: ${{ listing.price }} Dlls.</small></p>
                    <a class="card-link" href="{% url 'send_message' listing.id listing.seller.id %}">Message seller</a>
                  </div>
                  <img src="..." class="card-img-top" alt="...">
                </div>
              <!-- End Card-->
    </div>
  </article>
</section>
{% endblock %}
