:root {
  --primary-color: #4caf50; 
  --secondary-color: #9932cc;
  --accent-color: #ff5722;
  --text-color: #e0e0e0;
  --background-color-body: #121212;
  --background-color-card: #212121;
  --background-color: #24001e;
  --back-shadow: #b904dd40;

  

  
}

body {
  background-color: var(--background-color-body);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: var(--background-color-body);
  border-bottom: 1px solid var(--primary-color);
}
.navbar-brand {
  color: var(--text-color) !important;
  font-size: 25px;
  font-weight: bold;
}
.navbar-brand:hover {.a {
  color: var(--secondary-color);
}
.a:hover {
  color: var(--primary-color);
}

  color: var(--accent-color) !important;


}
.nav-link {
  color: var(--text-color) !important;
}
.nav-link.active,
.nav-link:hover {
  color: var(--accent-color) !important;
}

/* Hero Layout */
.hero {
  /* background: url("/static/images/hero-image.jpg") no-repeat center center; */
  background-size: cover;
  color: var(--accent-color);
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  color: acc;
}
.hero p {
  color: var(--secondary-color); 
}
.hero a {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}


/* Profile Page */
.profile-section {
  border-left: 4px solid var(--secondary-color);
  margin: 20px 0;
  padding: 10px;
}

/* Forms and Buttons */
.form {
  background-color: var(--background-color);
  /* width: max-content; */
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 0 0.2rem var(--back-shadow);
  
}
.form-control, #id_email, #id_password1, #id_password2,
#id_username, #id_password {
  background-color: var(--background-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.5s ease;
  box-shadow: 0 0 0 0.2rem var(--back-shadow);
  resize: vertical;

}

/*Cards */
.card{
  background-color: #212529;
  color: var(--text-color);
  margin-top: 45px; 
  box-shadow: 0 0 0 0.4rem var(--back-shadow);
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  

}

/* send message form content text area */
  #id_content {
    width: 100%; 
    max-width: 100%; 
    min-height: 100px; 
    height: auto; 
    resize: vertical; 
    padding: 10px; 
    border: .5px solid var(--primary-color); 
    background-color: var(--background-color);
    color: var(--text-color); 
    box-shadow: 0 0 0 0.2rem var(--back-shadow);
  }

  .unread {
    color: var(--primary-color);
}
.scrollable-box {
  overflow-y: auto; /* Adds vertical scrollbar if needed */
  max-height: 200px; /* Maximum height before scrolling */
  padding: 15px;
  border: .5px solid var(--secondary-color); 
  border-radius: 5px; 
  background-color: var(--background-color); 
  color: var(--text-color)
}