<!--extends base.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'listing_list' %}">AutoSell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_listing' %}">Sell a Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_saved_listings' %}">Saved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'messages' %}">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
        </li>


        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        <!-- Include more navigation items here -->
      </ul>
    </div>
  </nav>
  <!-- base.html -->